@charset "utf-8";
/* CSS Document */

.background {
  	height: 100vh;
  	min-height: 500px;
  	background-image: url("background.jpg");
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
}
.logo {
	height: 30px;
}
.text-style {
	color: white;
}
.header-container {
	margin-right: 0px;
}